<IfModule mod_rewrite.c >
RewriteEngine on
RewriteBase  /mvc-simple-example/
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^(.+)$ index.php?route=$1 [QSA,L]
</IfModule>